* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    background-color: rgb(72, 75, 78);
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
}

.menu>li {
    padding-left: 10px;
    padding-right: 10px;
}

.menu>li>a {
    text-decoration: none;
    color: rgb(29, 149, 185);
    font-weight: 500;
    border-style: solid; 
    border-radius: 100px;
    padding: 5px;
}

header {
    background-color: rgb(51, 52, 53);
    padding: 1px;
}

.text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text>p {
    font-size: 400%;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
}

.text2 {
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 25px;
}

.text3 {
    text-align: center;
    color: white;
    font-size: 500%;
    font-weight: 500;
}

.blackfon {
    background-color: rgb(51, 52, 53);
}

.box {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.box1 {
    width: 15%;
    border-style: solid;
    text-align: center;
    
}

.box2 {
    width: 15%;
    border-style: solid;
    text-align: center;
}

.box3 {
    width: 15%;
    border-style: solid;
    text-align: center;
}

img {
    width: 70px;
}
